body {
    font-family: Calibri;
    margin: 20px 20px 20px 20px;
}
button {
    border: none;
    cursor: pointer;
    background-color: #f3f3f3;
}
button:hover {
    background-color: #e9e7e7;
}
li {
    margin-bottom: 0.5em;
}

@media print {
    h1 {
        display: none;
    }
    button {
        display: none;
    }
    input {
        display: none;
    }
    textarea {
        display: none;
    }
}
.skillinputbox {
    width: 5em;
}
.midinputbox {
    width: 10.5em;
}
.summaryinputbox {
    width: 90%;
}
